<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net462" />
  <package id="logentries.core" version="2.8.0" targetFramework="net462" />
  <package id="logentries.nlog" version="2.6.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.Bot.Builder" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.Bot.Connector" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.Bot.Schema" version="4.2.0" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.2.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.2.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.18" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="NLog" version="4.5.11" targetFramework="net472" />
  <package id="SimpleInjector" version="4.4.3" targetFramework="net472" />
  <package id="SimpleInjector.Integration.WebApi" version="4.4.3" targetFramework="net472" />
  <package id="SourceLink.Create.CommandLine" version="2.8.1" targetFramework="net472" developmentDependency="true" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net472" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net472" />
</packages>